html {
  background-color: rgb(58, 143, 255);
}

body {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.avatar img {
  border-radius: 100px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column
}

.name {
  color: white;
}

.job {
  color: white;
  margin-top: -45px;
  opacity: .8;
}

.separator {
  border-bottom: 1px solid white;
  width: 14rem;
  opacity: .3;
  margin-top: -15px;
}

.information {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-info {
  background-color: #fff;
  color: rgb(58, 143, 255);
  max-width: 20rem;
  border-radius: 5px;
  min-width: 20rem;
  margin: 5px;
  font-size: 1.4rem;
  font-stretch: inherit;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.list-info>.icon {
  margin-left: 20px;
  margin-right: 10px;
}

.list-info>.text {
  color: rgb(33, 129, 253);
}