html {
  background-color: rgb(58, 143, 255);
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.avatar img {
  display: flex;
  border-radius: 100px;
  justify-content: center;
  justify-items: center;

}

.name {
  display: flex;
  color: white;
  justify-content: center;
  justify-items: center;
}

.job {
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
}