html {
  background-color: #fff;
}

body {
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* justify-content: middle; */
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  align-self: center;

}

.header {
  background-color: #ff6464;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  margin: 0;
  width: 100%;
  height: 420px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.61);
}

.nav {
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  background-color: #01024e;
  padding: 0 20px 0 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.61);
}

.brand a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.brand a:hover {
  opacity: .8;
  transition: .3s all;
}

.nav-list {
  align-self: center;
}

.nav-list ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.nav-list ul li {
  float: left;
  margin-left: 20px;
  font-size: 1.4rem
}

.nav-list ul li a {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
}

.nav-list ul li a:hover {
  color: rgba(0, 0, 0, 0.80);
  border-bottom: 2px solid #01024e;
  transition: .3s all;

}

.about {
  z-index: 99;
  margin-top: -400px;
}

.avatar {
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 100;

}

.avatar img {
  border-radius: 100px;
}

.wrapper {
  background-color: #fff;
  padding: 40px;
  padding-top: 50px;
  border-radius: 5px;
  margin-top: -70px;
  z-index: 10;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.61);
}

.detail-info {
  background-color: #fff;
  padding: 40px;
  padding-top: 50px;
  border-radius: 5px;
  margin-top: -70px;
  width: 100%;
  height: auto;
}

.bio {
  margin: 50px 100px 0 100px;
  color: rgba(0, 0, 0, 0.80);
  background-color: #fff;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  padding: 10px 40px 10px 40px;

}

.bio h2 {
  margin: 0px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column
}

.name {
  color: #ff6464;
}

.job {
  color: #01024e;
  margin-top: -45px;
  opacity: .8;
}

.separator {
  border-bottom: 1px solid #ff6464;
  width: 14rem;
  margin-top: -15px;
}

.information {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-info {
  background-color: #ff6464;
  max-width: 20rem;
  border-radius: 5px;
  min-width: 20rem;
  margin: 5px;
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.list-info>.icon {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.8rem;
  color: #01024e;

}

.list-info>.text>a {
  color: #01024e;
  text-decoration: none;
}

.list-info>.text {
  color: #543864;
  font-size: 1.3rem;
}

footer a {
  text-decoration: none;
  color: #ff6464;
}